@import 'app_assets/css/variables/colors';

.wrapper {
  float: right;
  font-size: calc(1rem + 1.2vw);

  .icon {
    margin-right: 5px;
    color: $yellow;
  }

  .scale,
  .votes {
    font-size: calc(0.8rem + 0.3vw);
    color: $gray;
  }
}
