@import 'app_assets/css/variables/base_classes';

$card-width: 200px;
$card-width--sm: 300px;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  justify-content: space-between;
  margin-top: 20px;

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .card {
    display: flex;
    flex-direction: column;
    width: $card-width;
    margin-bottom: 15px;
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

    @media screen and (max-width: 576px) {
      width: $card-width--sm;
    }

    &:hover {
      text-decoration: none;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
