@import 'app_assets/css/variables/colors';

.navigation:global(.navbar) {
  background-color: $purple;
  border-bottom: 1px solid $black-btn-border;
  padding: 0.8rem 1rem;

  @media (max-width: 576px) {
    padding: 0.5rem 1rem;
  }

  .link {
    color: $yellow;
    font-size: 1.8rem;
    line-height: 0;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
}
